<div class="user-list">
  <div *ngFor="let user of userList; let i = index" class="user-profile">
    <div class="image">
      <img src="{{ user.picture }}" alt="user.name" srcset="" />
    </div>
    <div class="user-name">
      <p>{{ user.name }}</p>
      <small
        ><b>score: {{ user.score }}</b></small
      >
    </div>
    <div class="user-contact">
      <small>mail :{{ user.email }}</small>
      <small>phone: {{ user.phone }}</small>
    </div>
    <p class="city-name">city: {{ user.city }}</p>
  </div>
</div>
