<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h1 class="fs-1 fw-bolder" style="color: #01d">
        {{ "Forbes Marshall" }}
      </h1>
    </a>
  </div>
</nav>

<main>
  <app-learn-directive></app-learn-directive>
  <!-- <app-pipe-listing></app-pipe-listing> -->

  <!-- 
  <section class="py-1 text-center container-fluid">
    <h1>Day-06</h1>
    <div class="row py-1">
      <div class="col-4 border">
        <app-one-way-data-binding></app-one-way-data-binding>
      </div>
      <div class="col-4 border">
        <app-two-data-binding></app-two-data-binding>
      </div>
    </div>
  </section> -->
</main>

<!-- <h1>Data Binding!</h1>
<app-one-way-data-binding></app-one-way-data-binding>
<app-two-data-binding></app-two-data-binding> -->
