<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li *ngFor="let route of applicationRouteList" class="nav-item">
            <a
              class="nav-link"
              [routerLinkActive]="'active'"
              [routerLink]="[route.path]"
            >
              <i class="fa" [ngClass]="route.iconName"></i>
              {{ route.label }}
            </a>
          </li>
          <!-- <li class="nav-item">
            <a
              class="nav-link"
              [routerLinkActive]="'active'"
              [routerLink]="['/databinding-1']"
            >
              <span data-feather="home"></span>
              1 Data Binding
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/databinding-2']">
              <span data-feather="home"></span>
              2 Data Binding
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/salesform']">
              <span data-feather="home"></span>
              Sales form
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Directive
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Forms
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Input/Output
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Pipes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Social Feed
            </a>
          </li> -->
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <nav class="navbar bg-dark">
        <div class="container-fluid">
          <h4 class="fs-1 fw-bolder" style="color: rgb(63, 84, 110)">
            {{ "Forbes Marshall" }}
          </h4>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
